
Basic_Activity/*.iml
Basic_Activity/.gradle
Basic_Activity/local.properties
Basic_Activity/.idea/caches
Basic_Activity/.idea/libraries
Basic_Activity/.idea/modules.xml
Basic_Activity/.idea/workspace.xml
Basic_Activity/.idea/navEditor.xml
Basic_Activity/.idea/assetWizardSettings.xml
Basic_Activity/.DS_Store
Basic_Activity/build
Basic_Activity/captures
Basic_Activity/.externalNativeBuild
Basic_Activity/.cxx
Basic_Activity/local.properties
BottomNavitgationActivity/*.iml
BottomNavitgationActivity/.gradle
BottomNavitgationActivity/local.properties
BottomNavitgationActivity/.idea/caches
BottomNavitgationActivity/.idea/libraries
BottomNavitgationActivity/.idea/modules.xml
BottomNavitgationActivity/.idea/workspace.xml
BottomNavitgationActivity/.idea/navEditor.xml
BottomNavitgationActivity/.idea/assetWizardSettings.xml
BottomNavitgationActivity/.DS_Store
BottomNavitgationActivity/build
BottomNavitgationActivity/captures
BottomNavitgationActivity/.externalNativeBuild
BottomNavitgationActivity/.cxx
BottomNavitgationActivity/local.properties
buildGitIgnore.sh/*.iml
buildGitIgnore.sh/.gradle
buildGitIgnore.sh/local.properties
buildGitIgnore.sh/.idea/caches
buildGitIgnore.sh/.idea/libraries
buildGitIgnore.sh/.idea/modules.xml
buildGitIgnore.sh/.idea/workspace.xml
buildGitIgnore.sh/.idea/navEditor.xml
buildGitIgnore.sh/.idea/assetWizardSettings.xml
buildGitIgnore.sh/.DS_Store
buildGitIgnore.sh/build
buildGitIgnore.sh/captures
buildGitIgnore.sh/.externalNativeBuild
buildGitIgnore.sh/.cxx
buildGitIgnore.sh/local.properties
CDoublePlus/*.iml
CDoublePlus/.gradle
CDoublePlus/local.properties
CDoublePlus/.idea/caches
CDoublePlus/.idea/libraries
CDoublePlus/.idea/modules.xml
CDoublePlus/.idea/workspace.xml
CDoublePlus/.idea/navEditor.xml
CDoublePlus/.idea/assetWizardSettings.xml
CDoublePlus/.DS_Store
CDoublePlus/build
CDoublePlus/captures
CDoublePlus/.externalNativeBuild
CDoublePlus/.cxx
CDoublePlus/local.properties
EmptyActivity/*.iml
EmptyActivity/.gradle
EmptyActivity/local.properties
EmptyActivity/.idea/caches
EmptyActivity/.idea/libraries
EmptyActivity/.idea/modules.xml
EmptyActivity/.idea/workspace.xml
EmptyActivity/.idea/navEditor.xml
EmptyActivity/.idea/assetWizardSettings.xml
EmptyActivity/.DS_Store
EmptyActivity/build
EmptyActivity/captures
EmptyActivity/.externalNativeBuild
EmptyActivity/.cxx
EmptyActivity/local.properties
EmptyComposeActivity/*.iml
EmptyComposeActivity/.gradle
EmptyComposeActivity/local.properties
EmptyComposeActivity/.idea/caches
EmptyComposeActivity/.idea/libraries
EmptyComposeActivity/.idea/modules.xml
EmptyComposeActivity/.idea/workspace.xml
EmptyComposeActivity/.idea/navEditor.xml
EmptyComposeActivity/.idea/assetWizardSettings.xml
EmptyComposeActivity/.DS_Store
EmptyComposeActivity/build
EmptyComposeActivity/captures
EmptyComposeActivity/.externalNativeBuild
EmptyComposeActivity/.cxx
EmptyComposeActivity/local.properties
Fragment_with_ViewModel/*.iml
Fragment_with_ViewModel/.gradle
Fragment_with_ViewModel/local.properties
Fragment_with_ViewModel/.idea/caches
Fragment_with_ViewModel/.idea/libraries
Fragment_with_ViewModel/.idea/modules.xml
Fragment_with_ViewModel/.idea/workspace.xml
Fragment_with_ViewModel/.idea/navEditor.xml
Fragment_with_ViewModel/.idea/assetWizardSettings.xml
Fragment_with_ViewModel/.DS_Store
Fragment_with_ViewModel/build
Fragment_with_ViewModel/captures
Fragment_with_ViewModel/.externalNativeBuild
Fragment_with_ViewModel/.cxx
Fragment_with_ViewModel/local.properties
FullscreenActivity/*.iml
FullscreenActivity/.gradle
FullscreenActivity/local.properties
FullscreenActivity/.idea/caches
FullscreenActivity/.idea/libraries
FullscreenActivity/.idea/modules.xml
FullscreenActivity/.idea/workspace.xml
FullscreenActivity/.idea/navEditor.xml
FullscreenActivity/.idea/assetWizardSettings.xml
FullscreenActivity/.DS_Store
FullscreenActivity/build
FullscreenActivity/captures
FullscreenActivity/.externalNativeBuild
FullscreenActivity/.cxx
FullscreenActivity/local.properties
GoogleAdMobAdsActivity/*.iml
GoogleAdMobAdsActivity/.gradle
GoogleAdMobAdsActivity/local.properties
GoogleAdMobAdsActivity/.idea/caches
GoogleAdMobAdsActivity/.idea/libraries
GoogleAdMobAdsActivity/.idea/modules.xml
GoogleAdMobAdsActivity/.idea/workspace.xml
GoogleAdMobAdsActivity/.idea/navEditor.xml
GoogleAdMobAdsActivity/.idea/assetWizardSettings.xml
GoogleAdMobAdsActivity/.DS_Store
GoogleAdMobAdsActivity/build
GoogleAdMobAdsActivity/captures
GoogleAdMobAdsActivity/.externalNativeBuild
GoogleAdMobAdsActivity/.cxx
GoogleAdMobAdsActivity/local.properties
GoogleMapsActivity/*.iml
GoogleMapsActivity/.gradle
GoogleMapsActivity/local.properties
GoogleMapsActivity/.idea/caches
GoogleMapsActivity/.idea/libraries
GoogleMapsActivity/.idea/modules.xml
GoogleMapsActivity/.idea/workspace.xml
GoogleMapsActivity/.idea/navEditor.xml
GoogleMapsActivity/.idea/assetWizardSettings.xml
GoogleMapsActivity/.DS_Store
GoogleMapsActivity/build
GoogleMapsActivity/captures
GoogleMapsActivity/.externalNativeBuild
GoogleMapsActivity/.cxx
GoogleMapsActivity/local.properties
LoginActivity/*.iml
LoginActivity/.gradle
LoginActivity/local.properties
LoginActivity/.idea/caches
LoginActivity/.idea/libraries
LoginActivity/.idea/modules.xml
LoginActivity/.idea/workspace.xml
LoginActivity/.idea/navEditor.xml
LoginActivity/.idea/assetWizardSettings.xml
LoginActivity/.DS_Store
LoginActivity/build
LoginActivity/captures
LoginActivity/.externalNativeBuild
LoginActivity/.cxx
LoginActivity/local.properties
NavigationDrawerActivity/*.iml
NavigationDrawerActivity/.gradle
NavigationDrawerActivity/local.properties
NavigationDrawerActivity/.idea/caches
NavigationDrawerActivity/.idea/libraries
NavigationDrawerActivity/.idea/modules.xml
NavigationDrawerActivity/.idea/workspace.xml
NavigationDrawerActivity/.idea/navEditor.xml
NavigationDrawerActivity/.idea/assetWizardSettings.xml
NavigationDrawerActivity/.DS_Store
NavigationDrawerActivity/build
NavigationDrawerActivity/captures
NavigationDrawerActivity/.externalNativeBuild
NavigationDrawerActivity/.cxx
NavigationDrawerActivity/local.properties
PrimaryDetailFlow/*.iml
PrimaryDetailFlow/.gradle
PrimaryDetailFlow/local.properties
PrimaryDetailFlow/.idea/caches
PrimaryDetailFlow/.idea/libraries
PrimaryDetailFlow/.idea/modules.xml
PrimaryDetailFlow/.idea/workspace.xml
PrimaryDetailFlow/.idea/navEditor.xml
PrimaryDetailFlow/.idea/assetWizardSettings.xml
PrimaryDetailFlow/.DS_Store
PrimaryDetailFlow/build
PrimaryDetailFlow/captures
PrimaryDetailFlow/.externalNativeBuild
PrimaryDetailFlow/.cxx
PrimaryDetailFlow/local.properties
README.md/*.iml
README.md/.gradle
README.md/local.properties
README.md/.idea/caches
README.md/.idea/libraries
README.md/.idea/modules.xml
README.md/.idea/workspace.xml
README.md/.idea/navEditor.xml
README.md/.idea/assetWizardSettings.xml
README.md/.DS_Store
README.md/build
README.md/captures
README.md/.externalNativeBuild
README.md/.cxx
README.md/local.properties
ResponsiveActivity/*.iml
ResponsiveActivity/.gradle
ResponsiveActivity/local.properties
ResponsiveActivity/.idea/caches
ResponsiveActivity/.idea/libraries
ResponsiveActivity/.idea/modules.xml
ResponsiveActivity/.idea/workspace.xml
ResponsiveActivity/.idea/navEditor.xml
ResponsiveActivity/.idea/assetWizardSettings.xml
ResponsiveActivity/.DS_Store
ResponsiveActivity/build
ResponsiveActivity/captures
ResponsiveActivity/.externalNativeBuild
ResponsiveActivity/.cxx
ResponsiveActivity/local.properties
ScrollingActivity/*.iml
ScrollingActivity/.gradle
ScrollingActivity/local.properties
ScrollingActivity/.idea/caches
ScrollingActivity/.idea/libraries
ScrollingActivity/.idea/modules.xml
ScrollingActivity/.idea/workspace.xml
ScrollingActivity/.idea/navEditor.xml
ScrollingActivity/.idea/assetWizardSettings.xml
ScrollingActivity/.DS_Store
ScrollingActivity/build
ScrollingActivity/captures
ScrollingActivity/.externalNativeBuild
ScrollingActivity/.cxx
ScrollingActivity/local.properties
SettingsActivity/*.iml
SettingsActivity/.gradle
SettingsActivity/local.properties
SettingsActivity/.idea/caches
SettingsActivity/.idea/libraries
SettingsActivity/.idea/modules.xml
SettingsActivity/.idea/workspace.xml
SettingsActivity/.idea/navEditor.xml
SettingsActivity/.idea/assetWizardSettings.xml
SettingsActivity/.DS_Store
SettingsActivity/build
SettingsActivity/captures
SettingsActivity/.externalNativeBuild
SettingsActivity/.cxx
SettingsActivity/local.properties
TabbedActivity/*.iml
TabbedActivity/.gradle
TabbedActivity/local.properties
TabbedActivity/.idea/caches
TabbedActivity/.idea/libraries
TabbedActivity/.idea/modules.xml
TabbedActivity/.idea/workspace.xml
TabbedActivity/.idea/navEditor.xml
TabbedActivity/.idea/assetWizardSettings.xml
TabbedActivity/.DS_Store
TabbedActivity/build
TabbedActivity/captures
TabbedActivity/.externalNativeBuild
TabbedActivity/.cxx
TabbedActivity/local.properties
CDoublePlus/.idea/
Fragment_with_ViewModel/.idea/
TabbedActivity/.idea/
/Basic_Activity/.idea
/Basic_Activity/.idea
/Basic_Activity/.idea
